.income_table{
    display: flex;
    height: 598px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
}
.table_mui{
    margin-left: 40px;
    margin-right: 40px;
}
.none {
   width: 0;
   transition: 1s all;
}

.incomss{
    position: relative;
}
.form-add-income{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
}

.form-add-income form{
    width: 70%;
    padding: 20px;
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--lightBlue);
    color: var(--darkBlue);
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.head-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-form button{
    height: 40px;
    border: transparent;
    background-color: transparent;
    color: var(--darkBlue);
    font-size: 30px;
}

@media only screen and (max-width: 600px){
    .incomss{
        margin-top:10px ;
        display: flex;
        flex-direction: column-reverse;
        gap: 10px;
    }
    .income_table{
        justify-content: start;
        margin-top: 20px;
        height: auto;
    }
}

.back-form{
    width: 100%;
    height: 100vh;
     background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    position: absolute;
    top:0;
    left: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.form-submit{
    padding: 30px;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    width: 25rem;
    margin:0 auto;
}
.select{
    margin: 1rem 0;
    
}
.button-block{
    display: flex;
    text-align: center;
    justify-content: center;
    gap:2rem;
}